body,
html {
  width: 100%;
  height: 100%;
  font-family: 'Newsreader', serif;
  background: url(background.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

h1 {
  margin-top: 3cm;
  font-size: 4em;
  color:mintcream;
  text-align: center;
  viewport-fit: 100vw;
  text-align: center;
}

h1:hover {
  font-size: 4em;
  color:rgb(235, 235, 235);
}

.buffer{ 
  height: 5cm;
}

.btn-primary {
  background-color: #ffab6c;
  border-color: #ffab6c;
  padding: 1rem 2rem;
  border-radius: 16px;
}

.btn-primary:hover {
  background-color: #fa8c39;
  border-color: #ffab6c;
}

div {
  text-align: center ;
}
